* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(211, 211, 211);
    background: linear-gradient(to top left, #33cc33 0%, #99ff33 100%);
    font-size: 25px;
}

.wrapper {
    margin: auto;
    display: block;
    min-height: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .8);
    border: 2px solid rgba(214, 214, 214, 0.801);
    border-radius: 10px;
}

.frame {
    float: left;
    display: block;
    padding: 10px; 
    align-items: center;  
}

.left, .right {
    display: inline;
    padding: 10px;
    float:left;
}

.right {
    width: 250px;
}

.main-info {
    display: block;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 50px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

input {
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.719);
    border-bottom: 2px solid rgba(255, 255, 255, 0.719);
}

input::placeholder {
    color: rgb(146, 146, 146);
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px;
    margin-left: 20px;
    color: rgba(214, 214, 214, 0.801);
    font-weight: bold;
    font-size: 18px;
    background: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

button:hover {
    color: #333;
    background-color: #ddd;
}

.city-name, .country {
    font-size: 35px;
}

.country {
    text-transform: uppercase;
}
.weather-info, .weather-info-weather {
    text-align: left;
    margin-bottom: 35px;
}

.weather-info {
    font-size: 50px;
}

.weather-info-weather { 
    font-size: 30px;
}

.more-info {
    font-size: 30px;
    padding-bottom: 10px;
}

.headings {
    display: block;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
}

.picture {
    padding: 10px;
    display: block;
    width: 140px;
    height: 140px;
}

.warning {
    height: 30px;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: tomato;
}

.button-more-data {
    margin-bottom: 120px;
}

.active {
    display: block;
}

.hide {
    display: none;
}

.icon {
    transition: transform .6s;
}

.rotate {
    transform: rotate(180deg);
}

/*Animation*/
@keyframes blink {
    from {opacity: 0;}
    to {opacity: 1;}
}

.visible {
    animation-name: blink;
    animation-duration: .6s;
}

@keyframes un-blink {
    from {opacity: 1;}
    to {opacity: 0;}
}

.un-visible {
    animation-name: un-blink;
    animation-duration: .6s;
}